/* ----- variables start -----*/
/* ----- variables end -----*/
/* ----- Common start -----*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #353535;
  background: #ededf6;
  font-family: Verdana, sans-serif !important;
}

.hidescroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.filtersort__Mobile {
  display: none;
}

.pm0 {
  padding: 0;
  margin: 0;
}

/* ----- Common end -----*/
/* ----- Navbar start -----*/
.navigationbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4269ea;
  z-index: 1;
}

.navigationbar__center {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
}

.navigationbar__center--iconlogo {
  font-size: 1.5rem;
  color: #f8e831;
}

.navigationbar__center--iconlogo a {
  font-size: 1.5rem;
  color: #f8e831;
}

.navigationbar__center--icon {
  font-size: 1.5rem;
  color: azure;
  position: absolute;
  right: 7px;
  top: -15px;
}

.navigationbar__center--cartbtn {
  position: relative;
  cursor: pointer;
}

.navigationbar__center--cartitems {
  font-size: 16px;
  position: absolute;
  top: -8px;
  right: -12px;
  background: #ff0000;
  padding: 0 5px;
  border-radius: 30%;
  color: #ffffff;
}

/* ----- Navbar end -----*/
/* ----- product list start -----*/
.productlist .row {
  margin: 0;
  padding: 0;
}

.productlist__sortBy {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 14px;
}

.productlist__sortByM {
  display: none;
}

.productlist__sortBy--pricefilter {
  margin: 10px;
  font-weight: normal;
  color: #9f9fa0;
  cursor: pointer;
  line-height: 28px;
  font-size: 14px;
}

.productlist__sortBy--pricefilteractive {
  text-decoration: underline;
  font-weight: bold;
  color: #4269ea;
}

h5.productlist__product--price {
  color: #434343;
  font-weight: bold;
}

.productlist__product--delPrice {
  color: #9f9fa0;
  padding-right: 5px;
  font-weight: normal;
}

.productlist__product--discPrice {
  color: #35ae36;
  font-weight: normal;
}

/* ----- Products start -----*/
.productlist__products {
  padding: 0;
}

.productlist__productscenter {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 0.1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 0.1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  margin-bottom: 60px;
}

.productlist__product--imgcontainer {
  position: relative;
  overflow: hidden;
}

.productlist__product--imgcontainer:hover .bag-btn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.productlist__product--imgcontainer:hover .productlist__product--img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.productlist__product--img {
  display: block;
  width: 100%;
  min-height: 12rem;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.productlist__product--itembtn {
  background: #f7ad22;
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 15px;
  border: 0px;
  font-size: 14px;
  font-weight: bold;
}

.productlist__product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
}

.productlist__product h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

/* ----- Products end -----*/
/* ----- product list end -----*/
/* ----- search start -----*/
.searchProduct {
  position: absolute;
  top: 3%;
  left: 77%;
  z-index: 1;
}

.searchProduct__Input {
  border: 1px solid #eeeeee;
  height: 33px;
  width: 160px;
  padding: 0px 10px;
  position: fixed;
  top: 15px;
  right: 80px;
}

/* ----- search end -----*/
/* ----- cart start -----*/
.cart {
  display: none;
}

.cart__bannerbtn {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f7ad22;
  color: #353535;
  border: 1px solid #f7ad22;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  cursor: pointer;
}

.cart__bannerbtn:hover {
  background: transparent;
  color: #f7ad22;
}

.fa-plus-square,
.fa-minus-square {
  cursor: pointer;
}

.cart__item--main {
  width: 90%;
  float: left;
  border: 1px solid #9f9fa0;
  margin: 10px 40px;
  padding: 10px;
}

.cart__item--img {
  width: 20%;
  float: left;
}

.cart__item--img img {
  width: 75px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart__item--name {
  font-size: 16px;
  font-weight: normal;
}

.cart__item--price {
  font-size: 16px;
  font-weight: normal;
}

.cart__item--delPrice {
  color: #9f9fa0;
  padding-right: 5px;
  font-size: 16px;
  font-weight: normal;
}

.cart__item--discPrice {
  color: #35ae36;
  font-size: 16px;
  font-weight: normal;
}

.cart__item--counter {
  width: 30%;
  float: left;
}

.cart__item--remove {
  width: 20%;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

.cart__pricedetails {
  border: 1px solid #9f9fa0;
  padding: 10px;
  display: table;
  margin: 10px;
}

/* ----- Cart End -----*/
/* ----- footer start -----*/
.footer {
  height: 30px;
  width: 100%;
  background-color: #4269ea;
  position: fixed;
  text-align: center;
  bottom: 0px;
  padding: 5px;
  color: #ffffff;
}

/* ----- footer end -----*/
/* ----- slider start -----*/
.slider {
  z-index: 0;
}

.sliderHide {
  display: none;
}

.slider__applyfilter {
  width: 100%;
  float: left;
  text-align: center;
}

.productlist__desktopfilter {
  display: block;
  padding-top: 20px;
}

.productlist__sortMobile {
  display: none;
}

.productlist__filterMobile {
  display: none;
}

.productlist__desktopfilter--amount {
  border: 0;
  color: #f7ad22;
  font-weight: bold;
  background: #ededf6;
  margin-left: -7px;
}

.productlist__desktopfilter--label {
  margin-left: -7px;
  font-size: 14px;
}

/* ----- slider end -----*/
/* ----- Mobile start -----*/
@media (max-width: 768px) {
  .filtersort__Mobile {
    display: block;
  }
  .productlist__sortMobile {
    width: 48%;
    display: block;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
  .productlist__filterMobile {
    display: block;
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
  .productlist__desktopfilter {
    display: none;
  }
  .productlist__sortBy--pricefilteractiveM {
    text-decoration: underline;
    font-weight: bold;
    color: #4269ea;
    font-size: 14px;
  }
  .productlist__mobilefilter--amount {
    border: 0;
    color: #f7ad22;
    font-weight: bold;
  }
  .productlist__sortBy {
    display: none;
  }
  .productlist__sortByM {
    width: 100%;
    display: block;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: normal;
  }
  /* ----- product list start -----*/
  .productdesktopwrap {
    display: none;
  }
  .productlist__products {
    padding: 0;
    margin: 0;
  }
  .productlist__productscenter {
    width: 85vw;
    margin: 0 auto;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-bottom: 60px;
  }
  .productlist__product h3 {
    text-transform: capitalize;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
  }
  .productlist__product h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    color: #f7ad22;
    font-size: 0.8rem;
  }
  /* ----- product list end -----*/
  /* ----- search start -----*/
  .searchProduct__Input {
    border: 1px solid #eeeeee;
    height: 33px;
    width: 160px;
    padding: 0px 10px;
    position: fixed;
    top: 15px;
    right: 65px;
  }
  /* ----- search end -----*/
  /* ----- cart start -----*/
  .p0 {
    padding: 0;
  }
  .cart__item--main {
    width: 96%;
    float: left;
    border: 1px solid #9f9fa0;
    margin: 10px 0px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .cart__pricedetails {
    width: 96%;
    float: left;
    border: 1px solid #9f9fa0;
    margin: 10px 0px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .cart__item--img {
    width: 25%;
    float: left;
  }
  .cart__item--img img {
    width: 75px;
    height: 75px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .cart__item--counter {
    width: 28%;
    float: left;
  }
  .cart__item--remove {
    width: 19%;
    float: left;
    cursor: pointer;
  }
  /* ----- cart end -----*/
}

/* ----- mobile end -----*/
/*# sourceMappingURL=main.css.map */